

    <!-- Quiz Details goes here -->
  <form>
    <div class="mb-4">
      <label for="quizTitle" class="form-label fw-bold">Quiz Title:</label>
      <input type="text" class="form-control" id="quizTitle" name="quizTitle" aria-describedby="quizTitle" [(ngModel)]="quiz.title" [ngClass]="{'border-danger': !quizTitle_filled}" [placeholder]="quizTitle_filled ? '' : 'Needs to be filled'">
    </div>
  </form>
  <div class="d-flex justify-content-between mb-4">
    <div>
      <span class="fw-bold me-2">Amount of Questions:</span> {{quiz.questions.length}}
    </div>
    <div class="pe-2 text-danger fw-bold ms-4" [hidden]="messageIsHidden">
      {{ message }}
    </div>
  </div>


<form class="px-2">
  <!--  -->
  <div class="mb-3">
    <label for="question" class="form-label">Question:</label>
    <input type="text" class="form-control" id="question" name="question" aria-describedby="question"
           [(ngModel)]="question.question"
           [ngClass]="{'border-danger': !questionFilled}" [placeholder]="questionFilled ? '' : 'Needs to be filled'">
  </div>
  <!--  -->

  <div class="mb-3">
    <label for="answerA" class="form-label">Answer (A)</label>
    <div class="d-flex">
      <input type="radio" class="me-2" name="correctAnswer" [(ngModel)]="question.correctAnswer" value="answerA">
      <input type="text" class="form-control" id="answerA" name="answerA" aria-describedby="answerA" [(ngModel)]="question.answerA" [ngClass]="{'border-danger': !answerA_filled, 'border-warning':answerA_duplicate}" [placeholder]="answerA_filled ? '' : 'Needs to be filled'">
    </div>
  </div>
  <div class="mb-3">
    <label for="answerB" class="form-label">Answer (B)</label>
    <div class="d-flex">
      <input type="radio" class="me-2" name="correctAnswer" [(ngModel)]="question.correctAnswer" value="answerB">
      <input type="text" class="form-control" id="answerB" name="answerB" aria-describedby="answerB" [(ngModel)]="question.answerB" [ngClass]="{'border-danger': !answerB_filled, 'border-warning':answerB_duplicate}" [placeholder]="answerB_filled ? '' : 'Needs to be filled'">
    </div>
  </div>
  <div class="mb-3">
    <label for="answerC" class="form-label">Answer (C)</label>
    <div class="d-flex">
      <input type="radio" class="me-2" name="correctAnswer" [(ngModel)]="question.correctAnswer" value="answerC">
      <input type="text" class="form-control" id="answerC" name="answerC" aria-describedby="answerC" [(ngModel)]="question.answerC" [ngClass]="{'border-danger': !answerC_filled, 'border-warning':answerC_duplicate}" [placeholder]="answerC_filled ? '' : 'Needs to be filled'">
    </div>
  </div>
  <div class="mb-3">
    <label for="answerD" class="form-label">Answer (D)</label>
    <div class="d-flex">
      <input type="radio" class="me-2" name="correctAnswer" [(ngModel)]="question.correctAnswer" value="answerD">
      <input type="text" class="form-control" id="answerD" name="answerD" aria-describedby="answerD" [(ngModel)]="question.answerD" [ngClass]="{'border-danger': !answerD_filled, 'border-warning':answerD_duplicate}" [placeholder]="answerD_filled ? '' : 'Needs to be filled'">
    </div>
  </div>


  <div *ngIf="questionButtonText == 'Edit the Question'" class="d-flex flex-column align-items-end">
    <button type="button" class="btn btn-secondary shadow mt-2" (click)="appendQuestion()"><app-svg-edit></app-svg-edit>{{ questionButtonText }} {{questionIndexValue + 1}}</button>
    <button type="button" class="btn btn-danger shadow mt-2" [hidden]="false" (click)="onCancelClicked()">Cancel Edit</button>
    <button type="submit" class="btn btn-primary shadow mt-2" (click)="onSubmit()">Submit</button>
  </div>


  <div *ngIf="questionButtonText == 'Add the Question'" class="d-flex flex-column align-items-end">
    <button type="button" class="btn btn-secondary shadow mt-2" (click)="appendQuestion()"><app-svg-add></app-svg-add> {{ questionButtonText }}</button>
    <button type="button" class="btn btn-danger shadow mt-2" [hidden]="true" (click)="onCancelClicked()">Cancel Edit</button>
    <button type="submit" class="btn btn-primary shadow mt-2" (click)="onSubmit()">Submit</button>
  </div>
</form>


<!-- <div class="d-flex flex-column align-items-end">
  <div>
    <button type="button" class="btn btn-secondary me-2 shadow mt-2" (click)="appendQuestion()">
      <app-svg-edit *ngIf="questionButtonText == 'Edit the Question'"></app-svg-edit>
      <app-svg-add *ngIf="questionButtonText == 'Add the Question'"></app-svg-add>
      {{ questionButtonText }} {{ questionIndexValue + 1 }}
    </button>
  </div>

  <div>
    <button type="button" class="btn btn-danger me-2 shadow mt-2" (click)="onCancelClicked()">Cancel Edit</button>
  </div>

  <div>
    <button type="submit" class="btn btn-primary shadow mt-2" (click)="onSubmit()">Submit</button>
  </div>
</div> -->

<hr class="my-4">

<!-- Bootstrap Accordion Example -->
<div class="accordion m-4" id="accordionQuestions">
  <h1 class="fs-5 fw-bold">Questions: </h1>
  <div *ngIf="!quiz.questions.length">
    <p>No questions added yet!</p>
  </div>
  <div *ngFor="let question of quiz.questions; let i = index">
    <div class="accordion-item mb-2">
      <h2 class="accordion-header" [id]="'heading' + i">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
          Question {{ i + 1 }}:
        </button>
      </h2>
      <div [id]="'collapse' + i" class="accordion-collapse collapse mt-2" [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionQuestions">
        <div class="accordion-body">
          <div>
            <strong>Question:</strong>
            <p style="word-wrap: break-word;">{{quiz.questions[i].question}}</p>
            <strong>Answer (A):</strong>
            <p style="word-wrap: break-word;">{{quiz.questions[i].answerA}}</p>
            <strong>Answer (B):</strong>
            <p style="word-wrap: break-word;">{{quiz.questions[i].answerB}}</p>
            <strong>Answer (C):</strong>
            <p style="word-wrap: break-word;">{{quiz.questions[i].answerC}}</p>
            <strong>Answer (D):</strong>
            <p style="word-wrap: break-word;">{{quiz.questions[i].answerD}}</p>
            <strong>Correct Answer:</strong>
            <p style="word-wrap: break-word;">{{ generateCorrectAnswer(quiz.questions[i]) }}</p>
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-sm btn-warning me-2 shadow" (click)="onEditQuestionClicked(i)">
              <app-svg-edit></app-svg-edit>
            </button>

              <!-- delete button(1) -->
              <ng-container *ngIf="!quiz.questions[i].deleteClicked">
                <button type="button" class="btn btn-sm btn-danger shadow" (click)="deleteClicked(i, $event)">
                  <app-svg-delete></app-svg-delete>
                </button>
              </ng-container>

            <!-- delete button(2) -->
              <ng-container *ngIf="quiz.questions[i].deleteClicked">
                <button type="button" class="btn btn-sm btn-danger shadow" (click)="deleteQuestion(i)">
                <app-svg-warning></app-svg-warning>
                Confirm
                </button>
              </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

