<div class="container">
  <div class="row">
    <div class="col border border-dark p-4 me-2">
      Here User can add a Note to self. Some sample not as default:
      What is Lorem Ipsum?
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </div>
    <div class="col border border-dark p-4 ms-2">
      <div class="fs-3"><h1>Statistics:</h1></div>
      <div class="fs-4">totalQuizMade = {{ this.statistics.totalQuizMade }} </div>
      <div class="fs-4">totalQuizFinished = 0</div>
      <div class="fs-4">avgAmountQuestionsPerQuiz = 0</div>
      <div class="fs-4">totalSolvedQuestions = 0</div>
      <div class="fs-4">totalCorrectAnswers = 0</div>
    </div>
  </div>
</div>
