<div *ngIf="this.componentName == componentNames.AddQuiz">
  <div class="d-flex justify-content-end mt-2">
    <button type="button" class="btn btn-secondary shadow" (click)="navigateToAddQuiz()">
      <app-svg-add></app-svg-add>
      Add Quiz
    </button>
  </div>
</div>

<div *ngIf="this.componentName == componentNames.MainPage">
  <div class="d-flex justify-content-end mt-2">
    <!-- (click)="navigateToAddQuiz() @ btn -->
    <button type="button" class="btn btn-secondary shadow" (click)="navigateToMainPage()">
      <app-svg-go-back></app-svg-go-back>
      MainPage
    </button>
  </div>
</div>

<hr>
