<div *ngIf="this.componentName == componentNames.AddQuiz">
  <div class="d-flex justify-content-end mt-2">
    <button type="button" class="btn btn-secondary" (click)="navigateToAddQuiz()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
      </svg>
      Add Quiz
    </button>
  </div>
</div>

<div *ngIf="this.componentName == componentNames.MainPage">
  <div class="d-flex justify-content-end mt-2">
    <!-- (click)="navigateToAddQuiz() @ btn -->
    <button type="button" class="btn btn-secondary" (click)="navigateToMainPage()">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
      </svg>
      MainPage
    </button>
  </div>
</div>

<hr>
